.recordBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: white;
    background-color: darkslategrey;
}

/* Removes Unsightly Blue Link Lines on every button */
a {
    text-decoration: none !important;
}