{% extends 'data_annotater/base.html' %}

{% block content%}
    <div style="display:flex; flex-direction: column ; justify-content: center; align-items: center; ">
        <h1> CSV Uploader </h1>
        <form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <!-- Required on all forms, prevents cross site attacks -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Upload CSV</button>
        </form>
    </div>
{% endblock %}